<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= post.title%></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
            <div class="wrap-login100">
			<header class="login100-form-title">
						<%= post.title %>
            </header>
            <section>
                <div>
                    <%= post.view%>
                    <%= post.writer%>
                    <%= moment(post.writeDate).format('YYYYMMDD')%>
                </div>
                <div>
                    <%= post.content %>
                </div>
            </section>
            <footer>
                <div class="text-center p-t-136">
					<a class="txt2">
					    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true">
                            <a href="/board/read/<%= post.postId - 1%>">이전글</a>
                            <br>
                            <a href="/board/read/<%= post.postId + 1%>">다음글</a>
                        </i>
					</a>
                </div>
                <form action="/board/read/recommend/<%=post.postId%>" method="GET"><button>추천</button></form>
                <form action="/board" method="GET"><button>목록</button></form>
            </footer>
            </div>
		</div>
	</div>
	
</body>
</html>